@import "styles/variables";

.head {
  margin-bottom: 2rem;
}

.submitButton {
  display: block;
  margin: 2.5rem auto 0;
}

.answered,
.loader {
  position: absolute;
  left: 50%;
  top: 20rem;
  transform: translateX(-50%);
}

.answered {
  font-size: 2.3rem;
}