.title {
  font-size: 2rem;
}

.responsesQuantity {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.expirationTime {
  margin-top: 0.5rem;
}

.description {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}