@import "styles/variables";

.loader {
  position: absolute;
  left: 50%;
  top: 15rem;
  transform: translateX(-50%);
}

.empty {
  font-family: $font-main;
  font-size: 2rem;
  color: $color-black;

  display: block;
  margin: 10rem auto 0;
  text-align: center;
}