.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.delPopup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloadButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem auto 0;

  &__item {
    & + & {
      margin-left: 4.5rem;
    }
  }
}